.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* min-height: 100vh; */
  /* font-size: calc(10px + 2vmin); */
}

.score {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* align-items: flex-end; */
}

.Card {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: rgba(18, 194, 234, 0.806);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Card input, button { 
  width: 300px;
  height: 40px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}

button:hover {
  cursor: pointer;
  color:white;
  background-color: black;
}

button::selection{
  background-color: red;
}

.next-button {
  background-color: transparent;
  border: 2px solid black;
  font-weight: bold;
}

.next-button:hover {
  cursor: pointer;
  color:white;
  border: 3px solid white;
}


/* 
.Quiz {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: rgba(18, 194, 234, 0.806);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */